{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirm Payment</h1>
    
    <form id="frm-nicasia" action="https://testsecureacceptance.cybersource.com/pay" method="post">
        <div class="form-group">
            {% for key,value in data.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
                <input type="submit" value="pay">
        </div>
        </form>
        
</body>
</html>